<div class="container-fluid">
  <form [formGroup]="searchForm" (ngSubmit)="getSearchResults(searchForm.value)">
    <div class="form-group">
      <label for="fromDate">From Date</label>
      <input class="form-control" formControlName="to_date" type="date" name="to-date" id="fromDate">
    </div>
    <div class="form-group">
      <label for="toDate">To Date</label>
      <input formControlName="from_date" class="form-control" type="date" name="to-date" id="toDate">
    </div>
    <div class="form-group">
      <label for="min">Min</label>
      <div *ngIf="allDates && !allStrings && !allNumbers">
        <input type="date" formControlName="min" id="min" class="form-control">
      </div>
      <div *ngIf="allNumbers && !allDates && !allStrings">
        <input type="number" formControlName="min" id="min" class="form-control">
      </div>
      <div *ngIf="allStrings && !allDates && !allNumbers">
        <input type="text" formControlName="min" id="min" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="max">Max</label>
      <div *ngIf="allDates && !allStrings && !allNumbers">
        <input type="date" formControlName="max" id="max" class="form-control">
      </div>
      <div *ngIf="allNumbers && !allDates && !allStrings">
        <input type="number" formControlName="max" id="max" class="form-control">
      </div>
      <div *ngIf="allStrings && !allDates && !allNumbers">
        <input type="text" formControlName="max" id="max" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="page">Page</label>
      <input type="number" formControlName="page" id="page" class="form-control">
    </div>
    <div class="form-group">
      <label for="pageSize">Page Size</label>
      <input type="number" formControlName="pageSize" id="pageSize" class="form-control">
    </div>
    <div class="form-group">
      <label for="order">Order</label>
      <select formControlName="order" id="order" class="form-control">
        <option value="asc">Acceding</option>
        <option value="desc">Descending</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sortBy">Sort By</label>
      <select formControlName="sort_by" id="sortBy" name="sortBy" class="form-control" (change)="changeFormFields($event)">
        <option value="votes">Vote</option>
        <option value="activity">Activity</option>
        <option value="creation">Creation</option>
        <option value="hot">Hot</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="added">Added</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tag">Tag</label>
      <input type="text" name="tag" id="tag" formControlName="tag" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>

<div *ngIf="results; else else_no_results">
  <app-results [stackOverFlowResults]="results?.results?.items"></app-results>
</div>
<ng-template #else_no_results>
  <h3>No Results</h3>
</ng-template>
